/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700;900&display=swap');

/* css vars */
:root {
    --clr-primary: #E54210;
    --clr-primary-light: #E0DD00;
    --clr-primary-3: #0B3954;
    --clr-secondary: #CCC900;
    --clr-grey-1: #272829;
    --clr-grey-2: #6c757d;
    --clr-grey-3: #adb5bd;
    --clr-black: #222;
    --clr-white: #fff;
    --ff-primary: 'Lato', serif;
    --ff-secondary: 'Playfair Display SC', serif;
    --transition: all 0.3s ease-in;
    --spacing: 0.5rem;
    --radius: 0.5rem;
}

/* global styles */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-1);
    line-height: 1.5;
    font-size: 0.875rem;
}

a 
{
    text-decoration: none;
}

img 
{
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4
{
    line-height: 1;
}

h1 
{
    font-size: 3rem;
}
h2 
{
    font-size: 2rem;
}
h3 
{
    font-size: 1.5rem;
}
h4 
{
    font-size: 0.875rem;
}
p 
{
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) 
{
    h1 
    {
        font-size: 4rem;
    }
    h2 
    {
        font-size: 2.5rem;
    }
    h3 
    {
        font-size: 2rem;
    }
    h4 
    {
        font-size: 1rem;
    }
    body 
    {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 
    {
        line-height: 1;
    }
}

/* more global  */
.btn 
{
    text-transform: uppercase;
    color: var(--clr-white);
    background: var(--clr-primary-light);
    padding: 0.75rem 1rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    font-weight: 700;
    transition: var(--transition);
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.btn:hover 
{
    /* color: var(--clr-primary-3); */
    color: var(--clr-primary-3);
    background: var(--clr-primary);
}

.clearfix::after,
.clearfix::before 
{
    content: '';
    clear: both;
    display: table;
}

.section-title h3 
{
    font-family: var(--ff-secondary);
    color: var(--clr-primary-light);
}
.section-title 
{
    margin-bottom: 1.4rem;
}
.section-center 
{
    padding: 4rem 0;
    /* border: 2px solid red; */
    width: 85%;
    margin: 0 auto;
    max-width: 1170px;
}

/* end of global styles */
/* ==================================================================== */

/* sliding animation */

@keyframes bounce 
{
    0% 
    {
        transform: scale(1);
    }
    50% 
    {
        transform: scale(1.3);
    }
    100% 
    {
        transform: scale(1);
    }
}
@keyframes show 
{
    0% 
    {
        transform: scale(1.3);
        opacity: 0;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes slideFromRight
{
    0% { transform: translate(990px, 0px); }
    5% { transform: translate(742px, -578px); }
    10% { transform: translate(219px, -867px); }
    15% { transform: translate(-341px, -779px); }
    20% { transform: translate(-711px, -384px); }
    25% { transform: translate(-758px, 126px); }
    30% { transform: translate(-494px, 537px); }
    35% { transform: translate(-57px, 692px); }
    40% { transform: translate(361px, 552px); }
    45% { transform: translate(593px, 203px); }
    50% { transform: translate(564px, -193px); }
    55% { transform: translate(310px, -474px); }
    60% { transform: translate(-44px, -537px); }
    65% { transform: translate(-347px, -377px); }
    70% { transform: translate(-480px, -80px); }
    75% { transform: translate(-407px, 220px); }
    80% { transform: translate(-176px, 403px); }
    85% { transform: translate(102px, 405px); }
    90% { transform: translate(314px, 244px); }
    95% { transform: translate(378px, 0px); }
    100% { transform: translate(0px, 0px); }
}

@keyframes slideFromLeft
{
    0% { transform: translate(-990px, 0px); }
    5% { transform: translate(-742px, 578px); }
    10% { transform: translate(-219px, 867px); }
    15% { transform: translate(341px, 779px); }
    20% { transform: translate(711px, 384px); }
    25% { transform: translate(758px, -126px); }
    30% { transform: translate(494px, -537px); }
    35% { transform: translate(57px, -692px); }
    40% { transform: translate(-361px, -552px); }
    45% { transform: translate(-593px, -203px); }
    50% { transform: translate(-564px, 193px); }
    55% { transform: translate(-310px, 474px); }
    60% { transform: translate(44px, 537px); }
    65% { transform: translate(347px, 377px); }
    70% { transform: translate(480px, 80px); }
    75% { transform: translate(407px, -220px); }
    80% { transform: translate(176px, -403px); }
    85% { transform: translate(-102px, -405px); }
    90% { transform: translate(-314px, -244px); }
    95% { transform: translate(-378px, 0px); }
    100% { transform: translate(0px, 0px); }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animateBg 
{
    0% 
    {
        background-position: 0 0;
    }
    100% 
    {
        background-position: 100% 0;
    }
}

body 
{
    font-family: var(--ff-primary);
    background: var(--clr-white);
    color: var(--clr-grey-3);
    line-height: 1.5;
    font-size: 0.875rem;
}

a 
{
    text-decoration: none;
}
img 
{
    width: 100%;
    display: block;
}

/* header */

.header
{
    min-height: 100vh;
    background: linear-gradient(rgba(45, 0, 0, 0.575), rgba(0, 0, 0, 0.575)),
    url('./images/header.jpg') center/cover no-repeat fixed;
    position: relative;
    display: block;
    /* animation */
    overflow: hidden;
}

.banner
{
    padding: 1em;
    padding-bottom: 3.2em;
    text-align: center;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 5px solid var(--clr-secondary);
    border-radius: 10%;
    background-color: #27282980;
    animation: fadeInAnimation 2s ease-in;
}

.banner h2 
{ 
    font-family: var(--ff-secondary);
    color: var(--clr-primary-light);
    animation: slideFromRight 2s linear 1;
}

.banner h1 
{
    color: var(--clr-white);
    text-transform: capitalize;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    animation: slideFromLeft 2s linear 1;
}

span 
{
    color: var(--clr-primary-light);
}

.banner-btn 
{
    font-family: var(--ff-primary);
    text-transform: capitalize;
    color: var(--clr-primary-3);
    outline: 0.125rem solid var(--clr-primary-light);
    outline-offset: 0.25rem;
    font-size: 1.25rem;
    padding: 1rem 1.75rem;
    margin-top: 2rem;
    background: var(--clr-black);
    background-color: var(--clr-primary-light);
    transition: var(--transition);
}

.banner-btn:hover
{
    transform: scale(1.2);
    background: var(--clr-primary-3);
    color: var(--clr-white);
    transition: color 0.5s ease;
    transition: var(--transition);
}

.banner-btn::after
{
    background: var(--clr-primary-3);
    color: var(--clr-white);
    transition: color 0.5s ease;
    transition: var(--transition);
    box-shadow: 0 2px var(--clr-primary);
}

/* divider */

.content-divider
{
    animation: animateBg 2s infinite linear;
    background-color: #fff;
    background-image: linear-gradient(90deg, var(--clr-primary), var(--clr-primary-light), var(--clr-primary),var(--clr-primary-light));
    background-size: 300% 100%;
    box-shadow: 0 3px 14px #000;
    border-radius: 1rem;
    height: 0.5rem;
    width: 100%;
}

/* skills */
@media screen and (min-width: 568px) 
{
    .skill 
    {
        float: left;
        width: 50%;
    }
    .width100
    {
        float: left;
        width: 100%;
    }
}

@media screen and (min-width: 768px) 
{
    .skill 
    {
        float: left;
        width: 33.33%;
    }
}

.skills 
{
    background: var(--clr-white);
}

.skill 
{
    padding: 2.5rem 1rem;
    text-align: center;
    transition: var(--transition);
}

.skill-icon 
{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    transition: var(--transition);
    display: inline-block;
    color: var(--clr-primary);
}

.skill-text 
{
    max-width: 17rem;
    margin: 0 auto;
}

.skill-title 
{
    color: var(--clr-primary-light);
}

.skill:hover 
{
    background: var(--clr-primary-3);
    box-shadow: 0 2px var(--clr-primary);
}

.skill:hover .skill-icon 
{
    transform: scale(1.2);
    transform: translateY(-5px);
    color: var(--clr-secondary);
}

/* about section */
@media screen and (min-width: 992px) 
{
    .about-img,
    .about-info 
    {
        float: left;
        width: 50%;
    }
    .about-info 
    {
        padding-left: 2rem;
    }
}

.about-section 
{
    background: var(--clr-primary-3);
}

.about-img,
.about-info 
{
    padding: 1.4rem 0;

}

.about-section .section-center 
{
    padding-bottom: 0;
}

.about-picture-container 
{
    background: var(--clr-primary-3);
    border: 0.4rem solid var(--clr-primary);
    max-width: 30rem;
    border-radius: 1rem;
    overflow: hidden;
}

.about-picture
{
    transition: var(--transition);
}

.about-picture-container:hover .about-picture
{
    transform: scale(1.2);
    opacity: 0.6;   
    object-fit: contain;
}

.about-text 
{
    max-width: 23rem;
}

.about-link 
{
    color: var(--clr-primary-light);
}

/* products */
@media screen and (min-width: 768px) 
{
    .product 
    {
        float: left;
        width: 50%;
        padding-right: 2rem;
    }
}

@media screen and (min-width: 992px) 
{
    .product 
    {
        width: 33.33%;
    }
}

@media screen and (min-width: 1200px) 
{
    .products-info 
    {
        float: left;
        width: 30%;
    }
    .products-inventory 
    {
        float: left;
        width: 70%;
    }
    .product 
    {
        margin-bottom: 0;
        padding: 0 1rem;
    }
}

.products 
{
    background: var(--clr-primary-3);
}

.products .section-center 
{
    padding-top: 0;
}

.products article 
{
    padding: 2rem 0;
}
.product-text 
{
    max-width: 26rem;
}

.product 
{
    overflow: none;
}

.product-img 
{
    border-radius: var(--radius);
    margin-bottom: 2rem;
    height: 17rem;
    object-fit: cover;
    transition: var(--transition);
}
.product:hover .product-img 
{
    transform: scale(0.95);
    /* opacity: 0.6;    */
    -webkit-box-shadow:0px 0px 43px 1px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 43px 1px rgba(0, 0, 0, 0.9);
}

.product-price 
{
    color: var(--clr-primary);
    font-size: 0.8rem;
}

.product-btn 
{
    font-size: 0.7rem;
    border-radius: var(--radius);
}

/* services */


.services-title 
{
    margin-top: 4rem;
    margin-bottom: -4rem;
    text-align: center;
}

.service-card 
{
    margin: 2rem 0;
    background: var(--clr-primary-3);
    border-radius: var(--radius);
    transition: var(--transition);
}

.service-card:hover 
{
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.service-img 
{
    height: 17rem;
    object-fit: cover;
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

.service-info 
{
    text-align: center;
    padding: 3rem 1rem;
}

.service-info a 
{
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
    text-transform: capitalize;
    border-radius: var(--radius);
    font-weight:bolder;
    margin-top: 1.25rem;
    color: #0B3954;
}

.service-info p 
{
    max-width: 20rem;
    margin: 0 auto;
}

.service-info h4 
{
    text-transform: uppercase;
    color: var(--clr-primary);
}

@media screen and (min-width: 768px) 
{
    .service-card 
    {
    float: left;
    width: 44%;
    margin-right: 3%;
    margin-left: 3%;
    }
}

.service-img-container 
{
    position: relative;
}

.service-icon 
{
    position: absolute;
    left: 50%;
    bottom: 0;
    font-size: 2rem;
    color: var(--clr-secondary);
    background: var(--clr-primary);
    padding: 0.25rem 0.5rem;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    border: 0.375rem solid var(--clr-primary-3);
}